.modal_preview_item {
  width:97%;
  max-height: 7vh;
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 0.5rem;
  padding: 0.5rem;
  border-radius: 0.5rem;
  background-color:#f0f0f0;
  /* box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2); */
}
.modal_preview_item_close {
  position: absolute;
  top: -0.2rem;
  right: -0.5rem;
  border-radius: 50%;
  background-color: #c1c1c145;
  backdrop-filter: blur(12px);
  -webkit-backdrop-filter: blur(12px);
  cursor: pointer;
}
.modal_preview_item_close:hover{
  transform: scale(1.1);
}
.modal_preview_item_img {
  width: 3vw;
  max-width: 5vw;
  height: 4vh;
  object-fit: contain;
  border-radius: 0.3rem;
  margin-right: 1rem;
}
.img__cover {
  object-fit: cover;
}
.modal_preview_item_info {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  font-size: 1rem;
  overflow-wrap: break-word;
}
.modal_preview_item_info_size {
  align-content: flex-end;
  margin: 0 1rem;
  font-size: 0.8rem;
  font-weight: bold;
  text-align: right;
}

.percent {
  width: 4em;
  max-width: 4em;
  align-content: flex-end;
  align-items: center;
  margin: 0 1rem;
  font-size: 0.8rem;
  font-weight: bold;
  text-align: right;
}

.modal_preview_item_actions {
  display: flex;
  justify-content: flex-end;
  align-content: flex-end;
  align-items: center;
  margin: 0 1rem;
}

.modal_preview_item_actions *{
  cursor: pointer;
  margin: 0 0.5rem;
}
.modal_preview_item_actions *:hover{
  background-color: #dfdfdf;
  border-radius: 0.3rem;
}
.btn_terciary {
  float: right;
  display: inline;
  margin-right: 1rem;
  padding: 0.5rem 1rem;
  font-size: 0.7em;
  font-weight: normal;
  background-color: transparent;
  color: #d23c35;
  border-radius: 0.5rem;
  border: none;
  white-space: nowrap;
  cursor: pointer;
  user-select: none;
}
.btn_terciary:hover {
  text-decoration: underline;
}
