.navbar{
  overflow: hidden;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  width: 90%;
  margin: 0 auto;
  padding: 0.5rem 2rem;
  display: flex;
  justify-content: space-between;
  background-color: rgba(255, 255, 255, 1);
  box-shadow: 0px 5px 10px #0000004a;
  border-radius: 0 0 5px 5px;
}

.navbar-brand:hover {
  background-color: #00000006;
  border-radius: 10px;
  box-shadow:         2px 0px 1px 5px #00000006;
  -moz-box-shadow:    2px 0px 1px 5px #00000006;
  -webkit-box-shadow: 2px 0px 1px 5px #00000006;
  
  box-shadow:         1px 1px 3px 1px #0000001b;
  -moz-box-shadow:    1px 1px 3px 1px #0000001b;
  -webkit-box-shadow: 1px 1px 3px 1px #0000001b;
}

.navbar-item-container{
  margin-top: 0.7rem;
}

.navbar-item {
  color: #968888;
  font-size: 1.5rem;
  font-weight: 500;
  text-decoration: none;
  margin: 0 0.7rem;
}

.navbar-item.active{
  color: #fff;
  background-color: #d23c35;
  padding: 0.5rem 1rem;
  border-radius: 10px;
}

.navbar-item:hover {
  text-decoration: underline;
}

.auth {
  color: #d23c35;
  font-weight: bold;
  background-color: transparent;
  border: none;
}
