.Toolbar {
  /* width: 100%; */
  margin: 0 0;
  padding: 0.5em 1rem;
  font-size: 1.5em;
  display: flex;
  justify-content:space-between;
  background-color: #dadada;
}

.action{
  margin-right: 10px;
  border: 0px solid #000;
  background-color: transparent;
  border-radius: 10px;
  padding: 0rem 0.2rem;
  padding-top: 0.2rem;
  font-size: 1.5rem;
  cursor: pointer;
}

.action:hover{
  background-color: #c3c3c3;
  
}

/* Modal */

.modal{
  display : flex;
}
.modalHeader {
  margin-bottom: 1rem;
}
.modalBody{
  margin-bottom: 1rem;
}
.modalFooter {
  display: flex;
  justify-content: flex-end;
}
.modalAction {
  background-color: transparent;
  border: 0px solid #ccc;
  border-radius: 25px;
  padding: 0.5rem 1rem;
  margin: 0.5rem;
  cursor: pointer;
}
.btn_action { 
  background-color: #ff8b85;
  color: #fff;
}
.btn_action:hover { 
  background-color: #d23c35;
}
.btn_cancel { 
  border: 1px solid gray;
  color: #000;
}
.btn_cancel:hover { 
  background-color: gray;
  border: 1px solid gray;
  color: #fff;
}
.field {
  padding: 1rem;
  border: 1px solid #c3c3c3;
  border-radius: 25px;
}
.field_text {
  width: 100%;
  height: 2rem;
  border-radius: 25px;
}

.dropdown_item {
  display: block;
  width: 100%;
  margin-bottom: 0.5rem;
  padding: 1rem 1rem;
  text-align: left;
  text-decoration: none;
  color: black;
  background-color: #f9f9f9;
  border: 0px solid;
  border-bottom: 1px solid #d2d2d2;
  cursor: pointer;
}
.dropdown_item:hover {
  border-radius: 25px;
  background-color: #f3f3f3;
}
