
.profile {
  margin-right: 1rem;
  cursor: pointer;
}

.caret {
  margin-left: 2px;
  margin-bottom: 0.4rem;
}

.caret_open {
  transform: rotate(180deg);
}

.avatar {
  /* width: 3rem; */
  /* height: 3rem; */
  padding: 0 0.6rem;
  border-radius:50%;
  font-size: 2.5rem;
  font-weight:bold;
  color: rgb(9, 120, 124);
  text-align: center;
  background-color: #fff;
}
